%div{:class => "tweet#{' first' if tweet_counter == 0}"}
  = image_tag(tweet.twitter_user.profile_image_url, :class => 'user_image')
  .content
    .text= tweet.tweet_text
    .details
      = link_to tweet.twitter_user.screen_name, "http://twitter.com/#{tweet.twitter_user.screen_name}"
      = tweet.tweeted_at.strftime('%l:%M %p Eastern - %a %D')