<h1>Editing twitter_user</h1>

<% form_for(@twitter_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :profile_image_url %><br />
    <%= f.text_field :profile_image_url %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </p>
  <p>
    <%= f.label :followers_count %><br />
    <%= f.text_field :followers_count %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @twitter_user %> |
<%= link_to 'Back', twitter_users_path %>
