<h1>New twitter_user</h1>

<% form_for(@twitter_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', twitter_users_path %>
